.App {
  text-align: center;
}

.games-list li {
  color: red;
}

.games-list .new-game {
  font-style: oblique;
}

table.scores {
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
}

table.scores td, table.scores th {
  border: 1px solid black;
}

table.scores td.corner {
  border: 0;
}

table.players {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2em;
}

/* https://stackoverflow.com/a/1368286 */
button.like-link {
  background: none !important;
  border: none;
  padding: 0 !important;
  font-family: arial, sans-serif;
  color: #069;
  text-decoration: underline;
  cursor: pointer;
}
